//  module: Footer

@use 'variables' as *

@mixin common-footer()
    color: $gray-text-color
    text-align: center
    justify-content: flex-end
    gap: 0.15rem
    display: flex!important // !important is necessary
                            // because dumb wikidot has set a style attr declaring it as block

#footer 
    @include common-footer()
    font-size: $font-size-xs
    border-top: 1px solid $border-color
    padding-top: 0.5rem
    .options
        margin-right: auto

#license-area
    @include common-footer()
    font-size: $font-size-sm
    a
        margin-left: auto
        background-color: $gray-bg-color
        padding: 0 0.15rem
        border-radius: $sm-radius
        @include button-transition()