//  module: Root Layout
//  -----
//  Basic layout and page placement

@use 'responsive' as *
@use 'variables' as *

$pageWidth: 650px
$pageMargin: 4rem 1rem
$pagePadding: 0

$cornerBarTop: 0.5rem
$cornerBarRight: $cornerBarTop

body
    line-height: $rootLineHeight
    font-family: 'Noto Sans SC', sans-serif
    background-color: $bg-color
    overflow-x: hidden

#container-wrap-wrap
    position: static

    #container-wrap
        max-width: $pageWidth
        margin: 0 auto

        #container
            margin: $pageMargin
            padding: $pagePadding

            //Page Header
            #header
                display: flex
                flex-flow: column wrap
                align-content: space-between
                height: (1rem + 2rem) * 1.5

                //page title and menu
                h1, h2, #top-bar
                    width: 50%

                h1
                    font-size: $font-size-lg
                h2 
                    font-size: $font-size-nm

                #top-bar
                    text-align: right

                    //responsive top-bar display
                    .mobile-top-bar ul
                        @include md
                            display: none
                    .top-bar ul
                        display: none
                        @include md
                            display: flex


                //bar on left-top corner
                #login-status
                    top: $cornerBarTop
                    right: $cornerBarRight
                #search-top-box
                    position: absolute
                    top: $cornerBarTop + 2rem
                    right: $cornerBarRight

            #main-content
                    #page-options-container
                        margin: 1rem 0
                        display: flex
                        flex-flow: row wrap
                        row-gap: 0.5rem
                        align-items: flex-end

                        .page-options-bottom 
                            order: 0
                            display: flex
                            justify-content: space-between
                            flex-wrap: wrap
                            width: 100%
                        
                        #page-info,
                        .page-watch-options
                            margin: 0
                            width: 50%

                        #page-info
                            order: 1
                            align-self: flex-start
                            text-align: left

                        .page-watch-options
                            order: 2

