//  module: Page

@use 'variables' as *
@use 'responsive' as *

@mixin common-text()
    font-family: $font
    color: $text-color
    font-size: $font-size-nm

@mixin common-block()
    border: 1px solid transparent
    margin: 0.5rem 0
    p, h1, h2, h3, h4, h5, h6, div
        margin: 1rem

#main-content
    line-height: 1.75

    @include common-text
    #page-title,
    #page-content,
    #page-options-container,
    h1, h2, h3, h4, h5, h6, p
        @include common-text

    #page-title
        text-align: center
        border: none
        font-size: $font-size-lg
        font-weight: 700
        margin: 0.75rem 0

    #page-content

        h1
            font-weight: 600
            margin: 0.9rem 0
            font-size: $font-size-lg
            position: relative
            left: -1.5rem
            &::before 
                content: '+'
                margin-right: 0.5rem
                color: $gray-text-color

        h2, h3, h4, h5, h6
            font-weight: 500
            margin: 0.5rem 0

        h2
            font-size: $font-size-md

        hr 
            background-color: transparent
            height: auto
            border-top: 2px dashed $border-color
            margin: 1rem 0

        img
            max-width: 100%

        .scp-image-block
            img
                border-radius: $sm-radius

            &.block-right
                float: right
                text-align: center
            
            .scp-image-caption > p
                color: $dimmed-text-color
                font-size: $font-size-sm
                line-height: 2

        & > img, & > div.styled-img > img
            display: block
            margin: 0 auto
            border-radius: $radius
            

        code, .code
            background-color: $block-bg-color
            border: none

        blockquote, .blockquote
            border: none
            background-color: transparent
            margin: 0
            padding-left: 1.5rem 
            position: relative
            p, strong, em, div
                color: $dimmed-text-color
            &::before
                content: '>'
                color: $gray-text-color
                font-weight: 700
                position: absolute
                left: 0

        .borderblock
            @include common-block
            border-color: $border-color
            border-radius: $sm-radius
        
        .lightblock
            @include common-block
            background-color: $block-bg-color
        
        .darkblock
            @include common-block
            background-color: $text-color
            p 
                color: $bg-color
        
        .jotting
            @include common-block
            border: 2px dashed $border-color
            &.colored-div
                background-color: $gray-bg-color

    #page-options-container
        .page-options-bottom 
            a.btn
                display: block
                background-color: $gray-bg-color
                padding: 0.1rem 0.5rem
                border-radius: $sm-radius
                @include button-transition()
        
        #page-info,
        .page-watch-options
            font-size: $font-size-sm

        #page-info
            color: $gray-text-color
            span
                display: block!important // fuck you wikidot stop abusing style attribute
                color: $text-color

        .page-watch-options
            color: $gray-text-color

        #page-options-bottom-2
            $boxWidth: 22.5rem

            grid-template-columns: 1fr 1fr 1fr 1fr
            justify-content: flex-start

            font-size: $font-size-sm
            background-color: $bg-color
            border: 1px solid $border-color
            box-shadow: 0.075rem 0.1rem 0.3rem rgba(0,0,0,0.075)
                
            width: 100%
            height: unset
            line-height: unset
            padding: 0.25rem

            a.btn
                display: block
                text-align: center
            #rename-move-button,
            #delete-button
                grid-column-start: span 2
                
            #delete-button
                color: $warning-color
                @include transition()
                &:hover
                    background-color: $warning-color
                    color: $bg-color

            //on medium screen or larger
            @include md
                width: $boxWidth
                position: absolute
                left: calc(((100vw - $pageWidth) / 2) + ($pageWidth - $boxWidth) - 1.5rem) 
                margin-bottom: -2.5rem

            //switch open
            &:not([style="display: none;"]),
            &:not([style="display:none"])
                display: grid!important

    #action-area
        width: auto
        background-color: $block-bg-color
        border-radius: $radius
        padding: 1.5rem
        margin: 1rem 0
            
             